body {
    background-color: #A3A380;
}

.mainbox {

    font-style: italic;
    font-size: 50px;
    color: #D7CE93;
    text-align: center;

    background-color: #EFEBCE;
    border-radius: 30px;
    padding: 15px;
}

.cards {

    padding-top: 100px;
    justify-content: center;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    position: relative;
}

.card img{
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 5%;
    transition: transform 0.3s ease;
}

.boxes{
    position:absolute;
    inset: 0;

    background: rgba(255,255,255,0.95);

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;
    padding: 15px;
    overflow-y: auto;
    border-radius: 5%;
}

.cards img:hover {
    transform:scale(1.5);
    
}

.card:active .boxes{
    transform:scale(1.5);
    opacity:1;
    visibility: visible;
}
